

:root {
    --main-color: #333; /* custom property */
}


/******************/
/* Type selectors */
/******************/

body {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--main-color);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

h1 {
    text-decoration: underline;
}



/****************/
/* Id Selectors */
/****************/

#main-header {
    margin: 0;
    background-color: #bbe9f1;
    padding: 20px;
}


/*******************/
/* Class Selectors */
/*******************/

.course-summary {
    border: 1px solid var(--main-color);
    background-color: #eee;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.featured { /* also: .course-summary.featured */
    background-color: #7da5e6;
}


/***************/
/* Descendants */
/***************/

/* every img tag which is a descendant of an element with the class "course-summary" */
.course-summary img {
    max-height: 140px;
    width: auto;
}

.course-summary img:hover {
    box-shadow: 2px 2px 15px 2px var(--main-color);
    transition: all 0.5s;
}

/**************************/
/* Example of specificity */
/**************************/


#banner {
    background-color: green;
}

.box {
    background-color: yellow !important;
}


/**********************/
/* Multiple selection */
/**********************/

h1, h2, h3 {
    font-weight: bold;
}

section, .box {
    transition: all 1px;
}

/*****************/
/* Mixing things */
/*****************/

.todo-list > li, 
.item {
    text-shadow: 2px 2px #ccc;
}

